<h2>T-Shirts</h2>
<div id="container" class="container container--offset">
  <div id="scene" class="scene border">
    <div data-depth="0" class="layer"><img src="images/layer1.png" class="layer1" /></div>
    <div data-depth="0.40" class="layer"><img src="images/layer2.png" class="layer1" /></div>
    <div data-depth="0.60" class="layer"><img src="images/layer3.png" class="layer1" /></div>
    <div data-depth="0.80" class="layer"><img src="images/layer4.png" class="layer1" /></div>
    <div data-depth="1.00" class="layer"><img src="images/layer5.png" class="layer1" /></div>
    <!-- <div data-depth="0.00" class="layer"><img src="images/layer6.png" class="layer1" /></div> -->
  </div>
</div>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
